################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/integrity-check/v16/.suo
/.vs/slnx.sqlite
/package-lock.json
/.vs/VSWorkspaceState.json
/.vs/integrity-check/v16/TestStore/0
/bin
/obj/Debug
/integrity-check.njsproj
/integrity-check.njsproj.user
/integrity-check.sln
/dist
/node_modules/.bin
/node_modules
